body {
    margin: auto;
    padding: 15px; 
    color: #000;
    font-family: 'Lato', sans-serif;
}

/* links in side bar */
a.side {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    text-decoration: none;
}
a.side:link, a.side:visited {color: #636263;}
a.side:hover {color: #8a1737;}

/* --- grid set up --- */
.wrapper {
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logo banner banner"
        "nav nav nav"
        "main main side"
        "footer footer footer";
    grid-gap: 4px;
}

/* --- end of grid set up --- */

/* --- area styling --- */
.box {
    padding: 20px;
    border-radius: 10px;
    background-color: #585b6a;
    /* Sandrift brown */
}

.logo {
    grid-area: logo;
    padding: 0;
    height: 200px;
    width: 300px;
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #2d2f3b;
    /* Mojo red */
    font-size: 120%;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: #5e6674;
    /* Sandrift brown */
}

.side {
    grid-area: side;
    background-color: #24242c;
    /* Cape Palliser brown */
}

.footer {
    grid-area: footer;
    text-align: right;
}

/* --- end of area styling --- */
/* --- colour styling --- */
.logo,
.banner,
.footer {
    background-color: #a86f43;
    /*Bourbon brown */
}

.logo,
.banner,
.side,
.footer {
    color: #fff;
    /* white */
}

/* --- end of colour styling --- */


/* --- nav links --- */
.nav {
    margin: 0px;
    padding: 10px 0 10px 10px;
    border-style: solid;
    border-width: 1px 0 0 0;
    overflow: hidden;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 2.5em 0 5px;
    padding: 0;


    float: left;
    font-size: 1.2em;
    display: inline;
}

.nav ul li a {
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000000;
    margin: 5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    float: left;
    -moz-box-shadow: rgba(0, 0, 0, .8) 1px 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, .8) 1px 1px 3px;
    box-shadow: rgba(0, 0, 0, .8) 1px 1px 3px;
}

/* Background colour for navigation buttons */
.nav ul a:link,
nav ul a:visited {
    background: #191617;
}

/* Background colour changes when hovering */
.nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background: #646e84;
}

/* --- colour styling --- */
.logo,
.banner,
.footer {
    background-color: #3a4454;
}

.logo,
.banner,
.side,
.footer {
    color: #fff;

}

/* --- end of colour styling --- */
h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

/* ---sidebar image styling --- */

.img-side {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    margin-left: 40px;
}

/* ---contact form styling--- */

.contact {
    width: 100%;
}

/* Results Box Formatting */
.results {
    background-color: #979da9;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px;
}

/*error box formatting*/
.error {
    background-color: #ffe0ed; /*pale pink*/
    border: 2px solid #8a1737; /*dark red border*/
    color: #8a1737; /*dark red*/
    border-radius: 5px;
    padding: 20px;
}


/* form formatting */

.form {
    width: 250px;
    margin: 5px;
}

.search {
    width: 200px;
    padding: 8px 15px;
}

.submit {
    font-family: FontAwesome;
    position: relative;
    width: 45px;
    left: -1px;
    background-color: #636363;
    color: #d6d6d6;
    border: 1px solid #636263;
    border-radius: 0 5px 5px 0;
    height: 34px;
}


input[type="submit"]:hover {
    background-color: #000;
}

.input {
    height: 40px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.half_width {
    width: 99px;
    height: 34px;
}

.genre {
    height: 34px;
    position: relative; left: -15px;
}

.select {
outline: 0;
height: 40px;
border: 1px solid #ccc;
color: #878787;
width: 200px;
}
